.welcome-banner {
    --user-size: 91px;
    background: linear-gradient(90deg, #0066CC 0%, #003366 100%); 
    .user--img{
        width: var(--user-size);
        height: var(--user-size);
        overflow: hidden;
        border: 4px solid #fff;
    }
} 