<div class="welcome-banner d-flex align-items-center p-2 shadow-sm">
  <img src="assets/images/users/avatar-1.jpg" 
       alt="Profile" 
       class="rounded-circle me-3" 
       width="60" height="60">
  <div>
    <h5 class="mb-1 text-white fs-28">
      Welcome back, Azira 👋
    </h5>
    <small class="d-block text-light">
      Friday, August 15, 3:00 PM CST
    </small>
    <p class="mb-0 text-light">
      You have no visits scheduled this week. Need to book something?
    </p>
  </div>
</div>




<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/patient/appointments-referrals/appointments" routerLinkActive="active">Appointments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/patient/appointments-referrals/referrals" routerLinkActive="active">Referrals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/patient/appointments-referrals/tests-procedures" routerLinkActive="active">Tests/Procedures</a>
  </li>
</ul>

<div class="mt-3">
  <router-outlet></router-outlet>
</div>
