<div class="row">
  <div class="col-xl-5 col-lg-12">
    <div class="card bg-body shadow-none">
      <div class="card-body">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <ngb-carousel #carousel="ngbCarousel" [interval]="5000" (slide)="onSlideChange($event)"
            [showNavigationIndicators]="false" fade>
            @for(slide of slides;track $index){
            <ng-template ngbSlide [id]="$index.toString()">
              <div class="text-center">
                <img [src]="slide.img" alt="Slide {{$index + 1}}" class="img-fluid bg-body shadow-none  rounded">
              </div>
            </ng-template>
            }
          </ngb-carousel>
          <div class="carousel-indicators m-0 mt-2 d-lg-flex d-none position-static h-100 rounded gap-1">
            @for(slide of slides;track $index){
            <button type="button" data-bs-target="#carouselExampleFade" (click)="carousel.select($index.toString())"
              class="h-auto rounded bg-light-subtle border" [ngClass]="{'active':$index == activeSlide}"
              [attr.data-bs-slide-to]="$index" [attr.aria-label]="'slide'+ $index"
              [attr.aria-current]="$index === activeSlide" style="width: auto !important;">
              <img [src]="slide.thumb" class="d-block avatar-xl" alt="swiper-indicator-img">
            </button>
            }
          </div>
        </div>
      </div>

      <div class="card-footer p-0 rounded">
        <div class="bg-dark-gradient shadow text-center p-3 rounded mt-3">
          <p class="fs-20 fw-semibold text-white mb-1">Enjoy an Additional 20% Discount on Your Purchase</p>
          <p class="mb-1 text-white-50">On Purchase Of 2+ Style</p>
          <p class="mb-0 text-white-50">USE CODE : <span class="text-warning fw-bold">OCEN24</span></p>
        </div>
        <div class="bg-body-secondary shadow rounded p-3 mt-3">
          <h4 class="mb-3 text-dark">Offer Expires In :</h4>
          <div class="bg-warning-subtle border border-warning-subtle p-2 rounded">
            <div class="row text-xxl-center">
              <div class="col border-end border-warning-subtle">
                <h3 id="days" class="fw-bold fs-18 text-dark">10</h3>
                <p class="mb-0">Days</p>
              </div>
              <div class="col border-end border-warning-subtle">
                <h3 id="hours" class="fw-bold fs-18 text-dark">09</h3>
                <p class="mb-0">Hours</p>
              </div>
              <div class="col border-end border-warning-subtle">
                <h3 id="minutes" class="fw-bold fs-18 text-dark">30</h3>
                <p class="mb-0">Minutes</p>
              </div>
              <div class="col">
                <h3 id="seconds" class="fw-bold fs-18 text-dark">70</h3>
                <p class="mb-0">Seconds</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="position-absolute top-0 end-0 p-5 pt-0 z-1">
        <div data-toggler="on">
          <button type="button" class="btn btn-icon btn-light rounded-circle" data-toggler-on>
            <iconify-icon icon="solar:heart-angle-bold-duotone" class="fs-22 text-danger"></iconify-icon>
          </button>
          <button type="button" class="btn btn-icon btn-light rounded-circle d-none" data-toggler-off>
            <iconify-icon icon="solar:heart-angle-bold-duotone" class="fs-22" data-toggler-off></iconify-icon>
          </button>
        </div>
      </span>
      <span class="position-absolute top-0 start-0 p-5 pt-2 z-1">
        <span class="badge bg-danger fs-14">On Deal</span>
      </span>
    </div>
  </div>

  <div class="col-xl-7 col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <span class="badge bg-success-subtle text-success px-2 py-1 fs-13 rounded-pill">New</span>
          </div>
          <div class="flex-grow-1 d-inline-flex align-items-center justify-content-end fs-16">
            <ng-template #t let-fill="fill">
              <span class="ti ti-star-filled text-warning">
              </span>
            </ng-template>

            <ngb-rating [rate]="4.5" [starTemplate]="t" [readonly]="true" [max]="5" />
            <span class="ms-1 fs-14">23k Reviews </span>
          </div>
        </div>
        <div class="mt-3 mb-1">
          <a href="javascript: void(0);" class="text-dark fs-20 fw-medium">Minetta Rattan Swivel Luxury Green Premium Lounge Chair</a>
        </div>
        <p class="text-muted fw-medium fs-14 mb-1"><span class="text-dark">Menufechar : </span> Premium Furniture</p>
        <p class="text-muted fw-medium fs-14 mb-1"><span class="text-dark">Article : </span> CR63541</p>
        <p class="text-muted fw-medium fs-14 mb-1"><span class="text-dark">Sold Items : </span> 76k</p>
        <p class="text-muted fw-medium fs-14 mb-0"><span class="text-dark">Product Code : </span> CD4671CR</p>

        <h2 class="my-4 fw-bold text-dark">{{currency}}300.00 <span class="text-muted fs-14 fw-medium">/ 20% Off</span>
        </h2>
        <div class="d-flex flex-wrap align-items-center gap-2 mt-3 mb-2" role="group"
          aria-label="Basic checkbox toggle button group">
          <p class="mb-0 text-dark fw-semibold fs-15">Colors : </p>
          <input type="checkbox" class="btn-check" id="color-dark2">
          <label class="btn avatar btn-icon rounded-circle d-flex justify-content-center align-items-center"
            for="color-dark2"> <i class="ti ti-circle-filled fs-28 border rounded-circle text-success"></i></label>

          <input type="checkbox" class="btn-check" id="color-yellow2">
          <label class="btn avatar btn-icon rounded-circle d-flex justify-content-center align-items-center"
            for="color-yellow2"> <i class="ti ti-circle-filled fs-28 border rounded-circle text-warning"></i></label>

          <input type="checkbox" class="btn-check" id="color-white2">
          <label class="btn avatar btn-icon rounded-circle d-flex justify-content-center align-items-center"
            for="color-white2"> <i class="ti ti-circle-filled fs-28 border rounded-circle text-primary"></i></label>

          <input type="checkbox" class="btn-check" id="color-info" checked="">
          <label class="btn avatar btn-icon rounded-circle d-flex justify-content-center align-items-center"
            for="color-info"> <i class="ti ti-circle-filled fs-28 border rounded-circle text-info"></i></label>

        </div>
        <div class="d-flex flex-wrap align-items-center gap-2 my-3">
          <p class="mb-0 text-dark fw-semibold fs-15">Stock : </p>
          <div>
            <p class="text-success mb-0 fw-semibold fs-15"><i class="ti ti-checks"></i> In Stock</p>
          </div>
        </div>
        <div class="d-flex flex-wrap align-items-center gap-2 my-3">
          <p class="mb-0 text-dark fw-semibold fs-15">Quantity : </p>
          <div appQuantityControl [quantity]="1"
            class="input-step border bg-body-secondary p-1 mt-1 rounded-pill d-inline-flex overflow-visible">
            <button type="button" class="minus bg-light text-dark border-0 rounded-circle fs-20 lh-1 h-100">-</button>
            <input type="number" class="text-dark text-center border-0 bg-body-secondary rounded h-100" value="1"
              min="0" max="100" readonly="">
            <button type="button" class="plus bg-light text-dark border-0 rounded-circle fs-20 lh-1 h-100">+</button>
          </div>
        </div>
        <h4 class="text-dark fw-medium">Description :</h4>
        <p class="mb-1">Bring Axis home and watch life revolve around it. This 2-seat sofa offers exceptional durability
          for family rooms and casual living rooms, featuring track arms that create a clean look. Low back cushions and
          deep seats encourage lounging with family and friends.</p>
        <p class="mb-1">An exceptional occasional chair with slim arm rests, styled with a reclined back for supreme
          comfort. The metal tipped flaring legs add a decorative flourish to this elegant classic. Also available with
          a quilted fabric back (60-0775)</p>
        <a href="javascript: void(0);" class="link-primary">Read More...</a>
        <h4 class="text-dark fw-medium mt-3">Details :</h4>
        <ul class="d-flex flex-column gap-1 fs-14 mb-0">
          <li>
            Doweled mortise and tenon frame in solid Mahogany from certified source.
          </li>
          <li>
            Solid certified Mahogany.
          </li>
          <li>
            Available in a selection of finishes.
          </li>
          <li>
            Tight seat undersupport with high-density upholstery fill.
          </li>
        </ul>

        <h4 class="text-dark fw-medium mt-3 mb-2 pb-1">Additional Information :</h4>
        <div class="border border-dashed p-2 rounded text-center">
          <div class="row">
            <div class="col-lg-3 col-4 border-end">
              <p class="text-muted fw-medium fs-14 mb-0"><span class="text-dark">Arm Width : </span> 54 cm</p>
            </div>
            <div class="col-lg-3 col-4 border-end">
              <p class="text-muted fw-medium fs-14 mb-0"><span class="text-dark">Seat Width : </span> 67 cm</p>
            </div>
            <div class="col-lg-3 col-4 border-end">
              <p class="text-muted fw-medium fs-14 mb-0"><span class="text-dark">Seat Depth : </span> 54 cm</p>
            </div>
            <div class="col-lg-3 col-4 border-end">
              <p class="text-muted fw-medium fs-14 mb-0"><span class="text-dark">Seat Height : </span> 40 cm</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer border-top border-dashed">
        <div class="row g-2">
          <div class="col-lg-3">
            <a href="javascript: void(0);" class="btn btn-primary w-100 d-flex align-items-center gap-1"><iconify-icon
                icon="solar:cart-large-2-bold" class="fs-16 align-middle"></iconify-icon> Add to Bag</a>
          </div>
          <div class="col-lg-3">
            <a href="javascript: void(0);" class="btn btn-success w-100 d-flex align-items-center gap-1"><iconify-icon
                icon="solar:bag-check-bold" class="fs-16 align-middle"></iconify-icon> Buy Now</a>
          </div>
          <div class="col-lg-3">
            <a href="javascript: void(0);" class="btn btn-outline-danger w-75 d-flex align-items-center gap-1"><iconify-icon
                icon="solar:heart-bold" class="fs-16 align-middle"></iconify-icon> Wishlist</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>