.upload--outer--wrapper {
    padding: 20px;
    border-radius: 8px;
    border: 2px dashed #E7E9EB;
    background: #FFF;
    min-height: 220px;

    i {
        font-size: 47px;
        color: #246BCE;
    }
}