<h3 class="fw-semibold mb-4">Deactivation Account</h3>

<div class="d-flex align-items-center gap-2 mb-3 text-start">
  <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xl rounded img-thumbnail">
  <div>
    <h3 class="fw-semibold text-dark">Hi ! Dhanoo K.</h3>
    <p class="mb-0">Temporarily Deactivate your account instead of Deleting?</p>
  </div>
</div>

<div class="mb-3 text-start">
  <div class="alert alert-danger fw-medium mb-0" role="alert">
    Your profile will be temporarily hidden until you activate it again by logging back in
  </div>
</div>
<div class="d-grid">
  <button class="btn btn-primary" type="button">Deactivate Account</button>
</div>
<p class="text-danger fs-14 my-3">Back to <a routerLink="/auth/login" class="text-dark fw-semibold ms-1">Login !</a>