<header class="app-topbar">
  <div class="page-container topbar-menu">
    <div class="d-flex align-items-center gap-2 w-100 me-1">


      <app-logo-box />


      <button class="sidenav-toggle-button px-2" (click)="toggleMobileMenu()">
        <i class="ti ti-menu-deep fs-24"></i>
      </button>


      <button (click)="toggleMobileMenu()" class="topnav-toggle-button px-2" data-bs-toggle="collapse"
        data-bs-target="#topnav-menu-content">
        <i class="ti ti-menu-deep fs-22"></i>
      </button>


      <div class="topbar-search text-muted d-none d-xl-flex gap-2 align-items-center" data-bs-toggle="modal"
        data-bs-target="#searchModal" type="button" (click)="open(content)">
        <i class="ti ti-search fs-18"></i>
        <span class="me-2">Search something..</span>
        <span class="ms-auto fw-medium">⌘K</span>
      </div>

    </div>

    <div class="d-flex align-items-center gap-2">


      <div class="topbar-item d-flex d-xl-none">
        <button (click)="open(content)" class="topbar-link" data-bs-toggle="modal" data-bs-target="#searchModal"
          type="button">
          <i class="ti ti-search fs-22"></i>
        </button>
      </div>

      <div class="topbar-item">
        <button class="topbar-link" type="button" (click)="navigateToNotification()">
          <i class="ti ti-bell animate-ring fs-22"></i>
          <span class="noti-icon-badge"></span>
        </button>
      </div>

      <div class="topbar-item d-none d-sm-flex">
        <button class="topbar-link" (click)="settingMenu()" type="button">
          <i class="ti ti-settings fs-22"></i>
        </button>
      </div>


      <!-- <div class="topbar-item d-none d-sm-flex">
        <button class="topbar-link" (click)="changeTheme()" id="light-dark-mode" type="button">
          @if (color==="light") {
          <i class="ti ti-moon fs-22"></i>
          }@else{
          <i class="ti ti-sun fs-22"></i>
          }
        </button>
      </div> -->


      <div class="topbar-item nav-user">
        <div ngbDropdown>
          <a ngbDropdownToggle class="topbar-link drop-arrow-none px-2" data-bs-toggle="dropdown" data-bs-offset="0,19"
            type="button" aria-haspopup="false" aria-expanded="false">
            <img src="assets/images/users/avatar-1.jpg" width="32" class="rounded-circle me-lg-2 d-flex"
              alt="user-image">
            <span class="d-lg-flex flex-column gap-1 d-none">
              <h5 class="my-0">Dhanoo K.</h5>
              <h6 class="my-0 fw-normal">Premium</h6>
            </span>
            <i class="ti ti-chevron-down d-none d-lg-block align-middle ms-2"></i>
          </a>
          <div ngbDropdownMenu class="dropdown-menu-end">

            <div class="dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome !</h6>
            </div>


            <a href="javascript:void(0);" ngbDropdownItem>
              <i class="ti ti-user-hexagon me-1 fs-17 align-middle"></i>
              <span class="align-middle">My Account</span>
            </a>


            <a routerLink="/dashboards/wallet" ngbDropdownItem>
              <i class="ti ti-wallet me-1 fs-17 align-middle"></i>
              <span class="align-middle">Wallet : <span class="fw-semibold">{{currency}}985.25</span></span>
            </a>


            <a href="javascript:void(0);" ngbDropdownItem>
              <i class="ti ti-settings me-1 fs-17 align-middle"></i>
              <span class="align-middle">Settings</span>
            </a>


            <a href="javascript:void(0);" ngbDropdownItem>
              <i class="ti ti-lifebuoy me-1 fs-17 align-middle"></i>
              <span class="align-middle">Support</span>
            </a>

            <div class="dropdown-divider"></div>


            <a href="/auth/lock-screen" ngbDropdownItem>
              <i class="ti ti-lock-square-rounded me-1 fs-17 align-middle"></i>
              <span class="align-middle">Lock Screen</span>
            </a>


            <a (click)="logout()" class="cursor-pointer dropdown-item active fw-semibold text-danger">
              <i class="ti ti-logout me-1 fs-17 align-middle"></i>
              <span class="align-middle">Sign Out</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<ng-template #content let-modal>
  <div class="card mb-0 w-100">
    <div class="px-3 py-2 d-flex flex-row align-items-center" id="top-search">
      <i class="ti ti-search fs-22"></i>
      <input type="search" class="form-control border-0" id="search-modal-input"
        placeholder="Search for actions, people,">
      <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close">[esc]</button>
    </div>
  </div>
</ng-template>