<header class="app-topbar">
  <div class="page-container topbar-menu ps-0">
    <div class="d-flex align-items-center  w-100 me-1">


      <app-logo-box />


      <button class="sidenav-toggle-button me-2" (click)="toggleMobileMenu()">
        <i class="ti ti-menu-deep fs-24"></i>
      </button>
      <img src="assets/images/logo-sm.png" class="sidenav-toggle-button w-40"  alt="logo">


      <!-- <button (click)="toggleMobileMenu()" class="topnav-toggle-button px-2" data-bs-toggle="collapse"
        data-bs-target="#topnav-menu-content">
        <i class="ti ti-menu-deep fs-22"></i>
      </button> -->


      <div class="topbar-search text-muted d-none d-xl-flex gap-2 align-items-center ms-2" data-bs-toggle="modal"
        data-bs-target="#searchModal" type="button" (click)="open(content)">
        <i class="ti ti-search fs-18"></i>
        <span class="me-2">Search appointments, tests, results, messages..</span>
        <span class="ms-auto fw-medium">⌘K</span>
      </div>

    </div>

    <div class="d-flex align-items-center gap-2">


      <div class="topbar-item d-flex d-xl-none">
        <button (click)="open(content)" class="topbar-link" data-bs-toggle="modal" data-bs-target="#searchModal"
          type="button">
          <i class="ti ti-search fs-22"></i>
        </button>
      </div>

      <div class="topbar-item">
        <button class="topbar-link" type="button" (click)="navigateToNotification()">
          <i class="ti ti-bell animate-ring fs-22"></i>
          <span class="noti-icon-badge"></span>
        </button>
      </div>

      <div class="topbar-item d-none d-sm-flex">
        <button class="topbar-link" (click)="settingMenu()" type="button">
          <i class="ti ti-headset fs-22"></i>
        </button>
      </div>


      <!-- <div class="topbar-item d-none d-sm-flex">
        <button class="topbar-link" (click)="changeTheme()" id="light-dark-mode" type="button">
          @if (color==="light") {
          <i class="ti ti-moon fs-22"></i>
          }@else{
          <i class="ti ti-sun fs-22"></i>
          }
        </button>
      </div> -->


      <div class="topbar-item nav-user">
        <div ngbDropdown>
          <a ngbDropdownToggle class="topbar-link drop-arrow-none px-2" data-bs-toggle="dropdown" data-bs-offset="0,19"
            type="button" aria-haspopup="false" aria-expanded="false">
            <img src="assets/images/users/avatar-1.jpg" width="32" class="rounded-circle me-lg-2 d-flex"
              alt="user-image">
            <span class="d-lg-flex flex-column gap-1 d-none">
              <h5 class="my-0">Dhanoo K.</h5>
              <h6 class="my-0 fw-normal">Premium</h6>
            </span>
            <i class="ti ti-chevron-down d-none d-lg-block align-middle ms-2"></i>
          </a>
          <div ngbDropdownMenu class="dropdown-menu-end">

            <a href="javascript:void(0);" ngbDropdownItem>
              <i class="ti ti-user-plus me-2 fs-17 align-middle"></i>
              <span class="align-middle text-dark fs-13 fw-semibold">My Info</span>
            </a>

            <a href="javascript:void(0);" ngbDropdownItem>
              <i class="ti ti-settings me-2 fs-17 align-middle"></i>
              <span class="align-middle text-dark fs-13 fw-semibold">Settings</span>
            </a>

            <a href="javascript:void(0);" ngbDropdownItem>
              <i class="ti ti-info-circle me-2 fs-17 align-middle"></i>
              <span class="align-middle text-dark fs-13 fw-semibold">Care Needs</span>
            </a>

            <div class="dropdown-divider"></div>

            <a href="/" ngbDropdownItem>
              <i class="ti ti-logout me-2 fs-17 align-middle"></i>
              <span class="align-middle text-dark fs-13 fw-semibold">Log out</span>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<ng-template #content let-modal>
  <div class="card mb-0 w-100">
    <div class="px-3 py-2 d-flex flex-row align-items-center" id="top-search">
      <i class="ti ti-search fs-22"></i>
      <input type="search" class="form-control border-0" id="search-modal-input"
        placeholder="Search for actions, people,">
      <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss('Cross click')">[esc]</button>
    </div>
  </div>
</ng-template>
