<div class="card">
  <div class="d-flex card-header justify-content-between align-items-center">
    <h4 class="header-title">Brands Listing</h4>
    <a href="javascript:void(0);" class="btn btn-sm btn-light">Add Brand <i class="ti ti-plus ms-1"></i></a>
  </div>
  <div class="card-body p-0">
    <div class="bg-light bg-opacity-50 py-1 text-center">
      <p class="m-0"><b>69</b> Active brands out of <span class="fw-medium">102</span></p>
    </div>
    <div class="table-responsive">
      <table class="table table-custom table-centered table-sm table-nowrap table-hover mb-0">
        <tbody>
          @for (brand of bransData; track $index) {
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="avatar-md flex-shrink-0 me-2">
                  <span class="avatar-title bg-primary-subtle rounded-circle">
                    <img [src]="brand.image" alt="" height="22">
                  </span>
                </div>
                <div>
                  <span class="text-muted fs-12">{{brand.category}}</span> <br />
                  <h5 class="fs-14 mt-1">{{brand.name}}</h5>
                </div>
              </div>
            </td>
            <td>
              <span class="text-muted fs-12">Established</span>
              <h5 class="fs-14 mt-1 fw-normal">Since {{brand.since}}</h5>
            </td>
            <td>
              <span class="text-muted fs-12">Stores</span> <br />
              <h5 class="fs-14 mt-1 fw-normal">{{brand.Stores}}</h5>
            </td>
            <td>
              <span class="text-muted fs-12">Products</span>
              <h5 class="fs-14 mt-1 fw-normal">{{brand.products}}</h5>
            </td>
            <td>
              <span class="text-muted fs-12">Status</span>
              <h5 class="fs-14 mt-1 fw-normal"><i class="ti ti-circle-filled fs-12 text-success"></i> Active
              </h5>
            </td>
            <td style="width: 30px;">
              <div ngbDropdown>
                <a ngbDropdownToggle class="cursor-pointer text-muted drop-arrow-none card-drop p-0" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="ti ti-dots-vertical"></i>
                </a>
                <div ngbDropdownMenu class="dropdown-menu-end">
                  <a href="javascript:void(0);" ngbDropdownItem>Refresh Report</a>
                  <a href="javascript:void(0);" ngbDropdownItem>Export Report</a>
                </div>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-footer">
    <div class="align-items-center justify-content-between row text-center text-sm-start">
      <div class="col-sm">
        <div class="text-muted">
          Showing <span class="fw-semibold">5</span> of <span class="fw-semibold">15</span> Results
        </div>
      </div>
      <div class="col-sm-auto mt-3 mt-sm-0">
        <ul class="pagination pagination-boxed pagination-sm mb-0 justify-content-center">
          <li class="page-item disabled">
            <a href="javascript: void(0);" class="page-link"><i class="ti ti-chevron-left"></i></a>
          </li>
          <li class="page-item active">
            <a href="javascript: void(0);" class="page-link">1</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">2</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">3</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link"><i class="ti ti-chevron-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>