<page-title title="Popovers" subtitle="Base UI" />

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header border-bottom border-dashed d-flex align-items-center">
        <h4 class="header-title">Simple Popover</h4>
      </div>

      <div class="card-body">
        <p class="text-muted">
          Popover is a component which displays a box with a content after a click on an
          element - similar to the tooltip but can contain more content.
        </p>
        <button placement="right" autoClose="inside" type="button" class="btn btn-danger"  popoverTitle="Popover title"
          ngbPopover="And here's some amazing content. It's very engaging. Right?">Click to toggle
          popover</button>

      </div>
    </div>

    <div class="card">
      <div class="card-header border-bottom border-dashed d-flex align-items-center">
        <h4 class="header-title">Dismiss on Next Click</h4>
      </div>

      <div class="card-body">
        <p class="text-muted">Use the <code>focus</code> trigger to dismiss popovers
          on the user’s next click of a different element than the toggle element.</p>

        <button placement="right" type="button" tabindex="0" class="btn btn-success"  data-bs-trigger="focus"
          ngbPopover="And here's some amazing content. It's very engaging. Right?" popoverTitle="Dismissible popover">
          Dismissible popover
        </button>

      </div>
    </div>

    <div class="card">
      <div class="card-header border-bottom border-dashed d-flex align-items-center">
        <h4 class="header-title">Hover</h4>
      </div>

      <div class="card-body">
        <p class="text-muted">Use the attribute <code>data-bs-trigger="hover"</code>
          to show the popover on hovering the element.</p>
        <button  placement="right auto" triggers="hover" type="button" tabindex="0" class="btn btn-dark"  data-bs-trigger="hover"
          ngbPopover="And here's some amazing content. It's very engaging. Right?" popoverTitle="Ohh Wow !">
          Please Hover Me
        </button>

      </div>
    </div>
  </div>

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header border-bottom border-dashed d-flex align-items-center">
        <h4 class="header-title">Four Directions</h4>
      </div>

      <div class="card-body">
        <p class="text-muted">Four options are available: top, right, bottom, and
          left aligned.</p>

        <div class="d-flex flex-wrap gap-2">
          <button  type="button" class="btn btn-primary"  placement="top"
            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on top
          </button>

          <button type="button" class="btn btn-primary"  placement="bottom"
            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on bottom
          </button>

          <button type="button" class="btn btn-primary"  placement="right"
            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on right
          </button>

          <button type="button" class="btn btn-primary"  placement="left"
            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover title">
            Popover on left
          </button>
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header border-bottom border-dashed d-flex align-items-center">
        <h4 class="header-title">Custom Popovers </h4>
      </div>

      <div class="card-body">
        <p class="text-muted">You can customize the appearance of popovers using CSS variables. We set a custom class
          with
          <code>popoverClass="popover-primary"</code> to scope our custom appearance and use it to override some
          of the
          local CSS variables.
        </p>
        <div class="d-flex flex-wrap gap-2">
          <button type="button" class="btn btn-primary"  placement="right"
            popoverClass="popover-primary" popoverTitle="Primary popover"
            ngbPopover="This popover is themed via CSS variables.">
            Primary popover
          </button>

          <button type="button" class="btn btn-success"  placement="right"
            popoverClass="popover-success" popoverTitle="Success popover"
            ngbPopover="This popover is themed via CSS variables.">
            Success popover
          </button>

          <button type="button" class="btn btn-danger"  placement="right"
            popoverClass="popover-danger" popoverTitle="Danger popover"
            ngbPopover="This popover is themed via CSS variables.">
            Danger popover
          </button>

          <button type="button" class="btn btn-info"  placement="right"
            popoverClass="popover-info" popoverTitle="Info popover"
            ngbPopover="This popover is themed via CSS variables.">
            Info popover
          </button>

          <button type="button" class="btn btn-dark"  placement="right"
            popoverClass="popover-dark" popoverTitle="Info popover"
            ngbPopover="This popover is themed via CSS variables.">
            Dark popover
          </button>

          <button type="button" class="btn btn-secondary"  placement="right"
            popoverClass="popover-secondary" popoverTitle="Info popover"
            ngbPopover="This popover is themed via CSS variables.">
            Secondary popover
          </button>
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header border-bottom border-dashed d-flex align-items-center">
        <h4 class="header-title">Disabled Elements</h4>
      </div>

      <div class="card-body">
        <p class="text-muted">Elements with the <code>disabled</code> attribute
          aren’t interactive, meaning users cannot hover or click them to trigger a
          popover (or tooltip). As a workaround, you’ll want to trigger the popover from a
          wrapper <code>&lt;div&gt;</code> or <code>&lt;span&gt;</code> and override the
          <code>pointer-events</code> on the disabled element.
        </p>
        <span class="d-inline-block" placement="right" ngbPopover="Disabled popover">
          <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Disabled button</button>
        </span>

      </div>
    </div>
  </div>
</div>