<div class="px-3">
    <div class="col-12">
        <div class="page-title-head d-flex align-items-sm-center justify-content-between flex-sm-row flex-column">
            <h4 class="fs-18 text-dark fw-semibold m-0">Notifications</h4>
            <div class="mt-3 mt-sm-0">
                <div class="col-auto" ngbDropdown>
                    <a href="javascript: void(0);" ngbDropdownToggle
                        class="btn btn-light drop-arrow-none cursor-pointer card-drop" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="ti ti-sort-ascending me-1"></i> Sort By
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item"><i
                                class="ti ti-sort-ascending-letters me-1"></i> A to Z</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i
                                class="ti ti-sort-descending-letters me-1"></i> Z to A</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-sort-ascending me-1"></i>
                            Oldest to Newest</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i
                                class="ti ti-sort-descending me-1"></i>Newest to Oldest</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="col-12 card">
            <div class="card-body d-flex align-items-center justify-content-between flex-row">
                <div class="d-flex align-items-center">
                    <span class="me-2 flex-shrink-0">
                        <img src="assets/images/users/avatar-2.jpg" class="avatar-md rounded-circle" alt="" />
                    </span>
                    <span class="flex-grow-1">
                        <span class="fw-medium text-dark">Glady Haid <span class="clr-9BA6B7">commented</span> on paces
                            admin status</span>
                        <br />
                        <span class="fs-12 clr-9BA6B7">25m ago</span>
                    </span>
                </div>
                <div ngbDropdown>
                    <a ngbDropdownToggle class="drop-arrow-none cursor-pointer card-drop p-0" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="ti ti-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-mail-opened me-1"></i>
                            Mark as Read</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-mail-opened me-1"></i>
                            Mark all as Read</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-trash me-1"></i> Delete
                            Notification</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 card">
            <div class="card-body d-flex align-items-center justify-content-between flex-row">
                <div class="d-flex align-items-center">
                    <span class="me-2 flex-shrink-0">
                        <img src="assets/images/users/avatar-8.jpg" class="avatar-md rounded-circle" alt="" />
                    </span>
                    <span class="flex-grow-1">
                        <span class="fw-medium text-dark">Please visit on Sep 10th 2025 and take medicine time to
                            time.</span>
                        <br />
                        <span class="fs-12 clr-9BA6B7">1 hr ago</span>
                    </span>
                </div>
                <div ngbDropdown>
                    <a ngbDropdownToggle class="drop-arrow-none cursor-pointer card-drop p-0" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="ti ti-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-mail-opened me-1"></i>
                            Mark as Read</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-mail-opened me-1"></i>
                            Mark all as Read</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-trash me-1"></i> Delete
                            Notification</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 card">
            <div class="card-body d-flex align-items-center justify-content-between flex-row">
                <div class="d-flex align-items-center">
                    <span class="me-2 flex-shrink-0">
                        <img src="assets/images/users/avatar-2.jpg" class="avatar-md rounded-circle" alt="" />
                    </span>
                    <span class="flex-grow-1">
                        <span class="fw-medium text-dark">Please visit on Sep 10th 2025 and take medicine time to
                            time.</span>
                        <br />
                        <span class="fs-12 clr-9BA6B7">24 hrs ago</span>
                    </span>
                </div>
                <div ngbDropdown>
                    <a ngbDropdownToggle class="drop-arrow-none cursor-pointer card-drop p-0" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="ti ti-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-mail-opened me-1"></i>
                            Mark as Read</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-mail-opened me-1"></i>
                            Mark all as Read</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-trash me-1"></i> Delete
                            Notification</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 card">
            <div class="card-body d-flex align-items-center justify-content-between flex-row">
                <div class="d-flex align-items-center">
                    <span class="me-2 flex-shrink-0">
                        <img src="assets/images/users/avatar-3.jpg" class="avatar-md rounded-circle" alt="" />
                    </span>
                    <span class="flex-grow-1">
                        <span class="fw-medium text-dark">Glady Haid <span class="clr-9BA6B7">sent</span> message on
                            chat related health issues.</span>
                        <br />
                        <span class="fs-12 clr-9BA6B7">2 days ago</span>
                    </span>
                </div>
                <div ngbDropdown>
                    <a ngbDropdownToggle class="drop-arrow-none cursor-pointer card-drop p-0" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="ti ti-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-mail-opened me-1"></i>
                            Mark as Read</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-mail-opened me-1"></i>
                            Mark all as Read</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-trash me-1"></i> Delete
                            Notification</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 card">
            <div class="card-body d-flex align-items-center justify-content-between flex-row">
                <div class="d-flex align-items-center">
                    <span class="me-2 flex-shrink-0">
                        <img src="assets/images/users/avatar-9.jpg" class="avatar-md rounded-circle" alt="" />
                    </span>
                    <span class="flex-grow-1">
                        <span class="fw-medium text-dark">Glady Haid <span class="clr-9BA6B7">sent</span> message on
                            chat related health issues.</span>
                        <br />
                        <span class="fs-12 clr-9BA6B7">10 days ago</span>
                    </span>
                </div>
                <div ngbDropdown>
                    <a ngbDropdownToggle class="drop-arrow-none cursor-pointer card-drop p-0" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="ti ti-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-mail-opened me-1"></i>
                            Mark as Read</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-mail-opened me-1"></i>
                            Mark all as Read</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-trash me-1"></i> Delete
                            Notification</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 card">
            <div class="card-body d-flex align-items-center justify-content-between flex-row">
                <div class="d-flex align-items-center">
                    <span class="me-2 flex-shrink-0">
                        <img src="assets/images/users/avatar-6.jpg" class="avatar-md rounded-circle" alt="" />
                    </span>
                    <span class="flex-grow-1">
                        <span class="fw-medium text-dark">Glady Haid <span class="clr-9BA6B7">commented</span> on paces
                            admin status</span>
                        <br />
                        <span class="fs-12 clr-9BA6B7">1 month ago</span>
                    </span>
                </div>
                <div ngbDropdown>
                    <a ngbDropdownToggle class="drop-arrow-none cursor-pointer card-drop p-0" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="ti ti-dots-vertical"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-mail-opened me-1"></i>
                            Mark as Read</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-mail-opened me-1"></i>
                            Mark all as Read</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-trash me-1"></i> Delete
                            Notification</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>