<page-title subtitle="Apex" title="RadialBar Charts" />
<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-4">Basic RadialBar Chart</h4>
        <div dir="ltr">
          <apx-chart 
          [chart]="basicRadialBarChart.chart!"
          [plotOptions]="basicRadialBarChart.plotOptions!"
          [series]="basicRadialBarChart.series!"
          [colors]="basicRadialBarChart.colors!"
          [labels]="basicRadialBarChart.labels!"
          />
        </div>
      </div>

    </div>

  </div>


  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-4">Multiple RadialBars</h4>
        <div dir="ltr">
          <apx-chart 
          [chart]="multipleRadialBarsChart.chart!"
          [plotOptions]="multipleRadialBarsChart.plotOptions!"
          [stroke]="multipleRadialBarsChart.stroke!"
          [colors]="multipleRadialBarsChart.colors!"
          [series]="multipleRadialBarsChart.series!"
          [labels]="multipleRadialBarsChart.labels!"
          [responsive]="multipleRadialBarsChart.responsive!"
          />
        </div>
      </div>

    </div>

  </div>

</div>


<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-4">Circle Chart - Custom Angle</h4>
        <div class="text-center" dir="ltr">
          <apx-chart 
          [chart]="circleChart.chart!"
          [plotOptions]="circleChart.plotOptions!"
          [colors]="circleChart.colors!"
          [series]="circleChart.series!"
          [labels]="circleChart.labels!"
          [responsive]="circleChart.responsive!"
          [legend]="circleChart.legend!"
          />
        </div>
      </div>

    </div>

  </div>


  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-4">Circle Chart with Image</h4>
        <div dir="ltr">
          <apx-chart 
          [chart]="circleImageChart.chart!"
          [plotOptions]="circleImageChart.plotOptions!"
          [colors]="circleImageChart.colors!"
          [series]="circleImageChart.series!"
          [labels]="circleImageChart.labels!"
          [responsive]="circleImageChart.responsive!"
          [fill]="circleImageChart.fill!"
          [stroke]="circleImageChart.stroke!"
          />
        </div>
      </div>

    </div>

  </div>

</div>


<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-4">Stroked Circular Guage</h4>
        <div dir="ltr">
          <apx-chart 
          [chart]="strokedCircularChart.chart!"
          [plotOptions]="strokedCircularChart.plotOptions!"
          [colors]="strokedCircularChart.colors!"
          [series]="strokedCircularChart.series!"
          [labels]="strokedCircularChart.labels!"
          [responsive]="strokedCircularChart.responsive!"
          [fill]="strokedCircularChart.fill!"
          [stroke]="strokedCircularChart.stroke!"
          />
        </div>
      </div>

    </div>

  </div>


  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-4">Gradient Circular Chart</h4>
        <div dir="ltr">
          <apx-chart 
          [chart]="gradientCircularChart.chart!"
          [plotOptions]="gradientCircularChart.plotOptions!"
          [colors]="gradientCircularChart.colors!"
          [series]="gradientCircularChart.series!"
          [labels]="gradientCircularChart.labels!"
          [responsive]="gradientCircularChart.responsive!"
          [fill]="gradientCircularChart.fill!"
          [stroke]="gradientCircularChart.stroke!"
          />
        </div>
      </div>

    </div>

  </div>

</div>


<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-4">Semi Circle Gauge</h4>
        <div dir="ltr">
          <apx-chart 
          [chart]="semiCircleChart.chart!"
          [plotOptions]="semiCircleChart.plotOptions!"
          [colors]="semiCircleChart.colors!"
          [series]="semiCircleChart.series!"
          [labels]="semiCircleChart.labels!"
          [grid]="semiCircleChart.grid!"
          />
        </div>
      </div>

    </div>

  </div>

</div>