<div class="mx-auto text-center">
  <h3 class="fw-semibold mb-2">Ooop's ! </h3>
  <img src="assets/images/error/error-404.png" alt="error 403 img" height="180" class="my-3">
  <h2 class="fw-bold mt-3 text-primary lh-base">Page Not Found !</h2>
  <h4 class="fw-bold mt-2 text-dark lh-base">Something's Missing...! This Page Is Not Available</h4>
  <p class="text-muted fs-12 mb-3">sorry, we can't find the page you're looking for We suggest you to go homepage</p>
  <a routerLink="/" class="btn btn-primary mb-3">Back To Home <i class="ti ti-home ms-1"></i></a>
</div>