<div class="card">
  <div class="card-body">
    <div id="carouselExampleIndicators" class="carousel slide carousel-dark card-detail" data-bs-ride="carousel">
      <ngb-carousel [showNavigationArrows]="false">
        <ng-template ngbSlide>
          <div class="card bg-primary shadow-none rounded-4">
            <div class="card-body">
              <span class="float-end text-white-50 display-5 mt-n1"><i class="ti ti-wifi"></i></span>
              <h4 class="text-white">Mr. Dhanoo K</h4>

              <div class="row align-items-center mt-4">
                <div class="col-3 text-white fs-10">
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                </div>
                <div class="col-3 text-white fs-10">
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                </div>
                <div class="col-3 text-white fs-10">
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                </div>
                <div class="col-3 text-white fs-16 fw-bold">
                  <span>1</span>
                  <span>0</span>
                  <span>0</span>
                  <span>1</span>
                </div>
              </div>

              <div class="row mt-4 align-items-center">
                <div class="col-4">
                  <p class="text-white-50 mb-1">Expiry Date</p>
                  <h5 class="text-white my-0">10/32</h5>
                </div>

                <div class="col-4">
                  <p class="text-white-50 mb-1">CVV</p>
                  <h5 class="text-white my-0">XXX</h5>
                </div>
                <div class="col-4">
                  <div class="text-end">
                    <img src="assets/images/cards/visa-white.svg" alt="" height="20" class="me-1">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-2">
            <div>
              <h5 class="text-muted">Balance:</h5>
              <h4 class="fs-18">{{currency}}38562.25 <small class="text-muted">USD</small></h4>
            </div>
            <a href="javascript:void(0);"
              class="link-reset text-decoration-underline link-offset-2 fw-semibold pb-2">
              View Details
            </a>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="card bg-success rounded-4">
            <div class="card-body">
              <span class="float-end text-white-50 display-5 mt-n1"><i class="ti ti-wifi"></i></span>
              <h4 class="text-white">Mr. Dhanoo K</h4>

              <div class="row align-items-center mt-4">
                <div class="col-3 text-white fs-10">
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                </div>
                <div class="col-3 text-white fs-10">
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                </div>
                <div class="col-3 text-white fs-10">
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                </div>
                <div class="col-3 text-white fs-16 fw-bold">
                  <span>1</span>
                  <span>0</span>
                  <span>0</span>
                  <span>1</span>
                </div>
              </div>

              <div class="row mt-4 align-items-center">
                <div class="col-4">
                  <p class="text-white-50 mb-1">Expiry Date</p>
                  <h5 class="text-white my-0">10/32</h5>
                </div>

                <div class="col-4">
                  <p class="text-white-50 mb-1">CVV</p>
                  <h5 class="text-white my-0">000</h5>
                </div>
                <div class="col-4">
                  <div class="text-end">
                    <img src="assets/images/cards/discover-white.svg" alt="" height="16" class="me-1">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-2">
            <div>
              <h5 class="text-muted">Balance:</h5>
              <h4 class="fs-18">{{currency}}38562.25 <small class="text-muted">USD</small></h4>
            </div>
            <a href="javascript:void(0);"
              class="link-reset text-decoration-underline link-offset-2 fw-semibold pb-2">
              View Details
            </a>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="card bg-secondary rounded-4">
            <div class="card-body">
              <span class="float-end text-white-50 display-5 mt-n1"><i class="ti ti-wifi"></i></span>
              <h4 class="text-white">Mr. Dhanoo K</h4>

              <div class="row align-items-center mt-4">
                <div class="col-3 text-white fs-10">
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                </div>
                <div class="col-3 text-white fs-10">
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                </div>
                <div class="col-3 text-white fs-10">
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                  <i class="ti ti-circle-filled"></i>
                </div>
                <div class="col-3 text-white fs-16 fw-bold">
                  <span>1</span>
                  <span>0</span>
                  <span>0</span>
                  <span>1</span>
                </div>
              </div>

              <div class="row mt-4 align-items-center">
                <div class="col-4">
                  <p class="text-white-50 mb-1">Expiry Date</p>
                  <h5 class="text-white my-0">10/32</h5>
                </div>

                <div class="col-4">
                  <p class="text-white-50 mb-1">CVV</p>
                  <h5 class="text-white my-0">000</h5>
                </div>
                <div class="col-4">
                  <div class="text-end">
                    <img src="assets/images/cards/visa-white.svg" alt="" height="20" class="me-1">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-2">
            <div>
              <h5 class="text-muted">Balance:</h5>
              <h4 class="fs-18">{{currency}}38562.25 <small class="text-muted">USD</small></h4>
            </div>
            <a href="javascript:void(0);"
              class="link-reset text-decoration-underline link-offset-2 fw-semibold pb-2">
              View Details
            </a>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>