<div class="card">
  <div class="card-header d-flex flex-wrap align-items-center gap-2">
    <h4 class="header-title me-auto">Transactions <span class="text-muted fw-normal fs-14">(95.6k+
        Transactions)</span></h4>

    <div class="search-bar">
      <input type="text" class="form-control form-control-sm search" placeholder="Search Here...">
    </div>

    <div class="w-auto">
      <select class="form-select form-select-sm">
        <option selected="">All</option>
        <option value="0">Paid</option>
        <option value="1">Cancelled</option>
        <option value="2">Failed</option>
        <option value="2">Onhold</option>
      </select>
    </div>

    <a href="javascript:void(0);" class="btn btn-sm btn-soft-primary">Export <i class="ti ti-file-export ms-1"></i></a>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive table-card">
      <table class="table table-borderless table-hover table-custom table-nowrap align-middle mb-0">
        <thead class="bg-light bg-opacity-50 thead-sm">
          <tr class="text-uppercase fs-12">
            <th scope="col" class="text-muted">ID</th>
            <th scope="col" class="text-muted">Name / Business</th>
            <th scope="col" class="text-muted">Description</th>
            <th scope="col" class="text-muted">Amount</th>
            <th scope="col" class="text-muted">Timestamp</th>
            <th scope="col" class="text-muted">Type</th>
            <th scope="col" class="text-muted">Payment Method</th>
            <th scope="col" class="text-muted">Status</th>
            <th scope="col" class="text-muted">•••</th>
          </tr>
        </thead>

        <tbody>
          @for (item of allTransactions; track $index) {
            <tr>
              <td>
                <a href="javascript: void(0);" class="fw-medium text-reset">#{{item.id}}</a>
              </td>
              <td>
                @if (item.image) {
                  <img [src]="item.image" alt="" class="avatar-xs rounded-circle me-1">
                }@else {

                  <div class="avatar-xs d-inline-block me-1">
                    <span class="avatar-title bg-primary-subtle text-primary fw-semibold rounded-circle">
                      {{item.businessName.slice(0,1)}}
                    </span>
                  </div>
                }
                <a href="javascript: void(0);" class="text-reset">{{item.businessName}}</a>
              </td>
              <td>{{item.description}}</td>
              <td class="text-{{item.variant}}">{{item.amount}}</td>
              <td>{{item.date | date:"dd MMM YY"}} <small class="text-muted">{{item.date | date:"hh:mm:ss am"}}</small></td>
              @if (item.paymentType) {
                <td>Credit</td>
              }@else {
                <div>-</div>
              }
              <td>
                <img [src]="item.paymentImage" alt="" height="24" class="me-1">
                <span class="align-middle">{{item.paymentMethod}}</span>
              </td>
              <td><span [ngClass]="[item.paymentStatus == 'Failed' ? 'bg-danger-subtle text-danger' : item.paymentStatus == 'Onhold' ? 'bg-warning-subtle text-warning' : 'bg-success-subtle text-success']" class="badge p-1">{{item.paymentStatus}}</span></td>
              <td>
                <a href="javascript: void(0);" class="text-muted fs-20"> <i class="ti ti-edit"></i></a>
              </td>
            </tr>
          }

        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer border-top border-light">
    <div class="align-items-center justify-content-between row text-center text-sm-start">
      <div class="col-sm">
        <div class="text-muted">
          Showing <span class="fw-semibold text-body"> 7 </span> of <span class="fw-semibold"> 15 </span>
          Transactions
        </div>
      </div>
      <div class="col-sm-auto mt-3 mt-sm-0">
        <ul class="pagination pagination-boxed pagination-sm mb-0 justify-content-center">
          <li class="page-item disabled">
            <a href="javascript: void(0);" class="page-link"><i class="ti ti-chevron-left"></i></a>
          </li>
          <li class="page-item active">
            <a href="javascript: void(0);" class="page-link">1</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">2</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">3</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link"><i class="ti ti-chevron-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>