
  <div  #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [horizontal]="true" id="chat-user-list" class="collapse collapse-horizontal show">
    <div class="chat-user-list border-end">
      <div class="card-body py-2 px-3 border-bottom">
        <div class="d-flex align-items-center gap-2 py-1">
          <div class="chat-users">
            <div class="avatar-lg chat-avatar-online">
              <img src="assets/images/users/avatar-1.jpg" class="img-fluid rounded-circle" alt="Chris Keller">
            </div>
          </div>
          <div class="flex-grow-1">
            <h5 class="mb-0">
              <a href="javascript: void(0);" class="text-reset lh-base">Dhanoo K.</a>
            </h5>
            <p class="mb-0 text-muted">Admin</p>
          </div>
          <div ngbDropdown class="lh-1">
            <a ngbDropdownToggle class="dropdown-toggle cursor-pointer drop-arrow-none card-drop"
              data-bs-toggle="dropdown" aria-expanded="false">
              <iconify-icon icon="solar:settings-outline" class="align-middle"></iconify-icon>
            </a>
            <div ngbDropdownMenu class="dropdown-menu-end">

              <a href="javascript:void(0);" ngbDropdownItem>
                <i class="ti ti-user-plus me-1 fs-17 align-middle"></i>
                <span class="align-middle">New Contact</span>
              </a>

              <a href="javascript:void(0);" ngbDropdownItem>
                <i class="ti ti-users-plus me-1 fs-17 align-middle"></i>
                <span class="align-middle">New Group</span>
              </a>

              <a href="javascript:void(0);" ngbDropdownItem>
                <i class="ti ti-star me-1 fs-17 align-middle"></i>
                <span class="align-middle">Favorites</span>
              </a>

              <a href="javascript:void(0);" ngbDropdownItem>
                <i class="ti ti-archive me-1 fs-17 align-middle"></i>
                <span class="align-middle">Archive Contacts</span>
              </a>
            </div>
          </div>
          <button (click)="close()" type="button" class="flex-grow-0 btn btn-sm btn-icon btn-soft-danger d-xl-none"
            data-bs-dismiss="offcanvas" data-bs-target="#chatUserList" aria-label="Close">
            <i class="ti ti-x fs-20"></i>
          </button>
        </div>
      </div>


      <div class="d-flex flex-column">
        <ngx-simplebar class="users-list position-relative list-scroll" data-simplebar>

          <div class="px-3 py-2">
            <div class="app-search py-1">
              <input type="text" class="form-control border-light bg-light bg-opacity-50 rounded-2"
                placeholder="Search something here...">
              <i class="app-search-icon ti ti-search text-muted fs-16"></i>
            </div>
          </div>

          <div class="d-flex align-items-center px-3 py-2 bg-body-secondary position-sticky top-0 z-1">
            <iconify-icon icon="solar:pin-bold-duotone" class="fs-18 text-muted"></iconify-icon>
            <h5 class="mb-0 ms-1 fw-semibold fs-14">Pinned</h5>
          </div>
          @for (item of users; track $index) {
          <a href="javascript:void(0);"  (click)="getDetail(item)" class="text-body d-block">
            <div class="chat-users">
              <div class="avatar-md chat-avatar-offline">
                <img *ngIf="item.image" [src]="item.image" class="img-fluid rounded-circle" alt="Brandon Smith" />
              
            </div>

              <div class="flex-grow-1 overflow-hidden">
                <h5 class="mt-0 mb-0 fs-13">
                  <span class="float-end text-muted fs-12">{{item.date | date:"shortTime"}}</span>
                  {{item.name}}
                </h5>
                <p class="mt-1 mb-0 text-muted lh-1">
                  <span *ngIf="item.unRead" class="w-25 float-end text-end"><span
                      class="badge bg-danger-subtle text-danger">{{item.unRead}}</span></span>
                  @if (!item.unRead) {
                  <span *ngIf="item.isSend else noContent" class="w-25 text-end float-end text-success"><i
                      class="ti ti-checks"></i></span>
                  <ng-template #noContent>
                    <span class="w-25 text-end float-end text-muted"><i class="ti ti-checks"></i></span>
                  </ng-template>
                  }
                  @if(item.status === 'Typing' && selectedUser.id == item.id){
                  <span class="w-75 d-inline-block text-primary fs-12 fw-semibold">typing...</span>
                  }@else {
                  <span class="w-75 d-inline-block text-truncate overflow-hidden">{{item.message}}</span>
                  }
                </p>
              </div>
            </div>
          </a>
          @if (item.allMessage) {
          <div class="d-flex align-items-center px-3 py-2 bg-body-secondary position-sticky top-0 z-1">
            <iconify-icon icon="solar:chat-line-bold-duotone" class="fs-18 text-muted" />
            <h5 class="mb-0 ms-1 fw-semibold fs-14">All Messages</h5>
          </div>}
          }
        </ngx-simplebar>
      </div>

    </div>
  </div>