<page-title subtitle="Forms" title="Form Select"/>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header border-bottom border-dashed">
        <h4 class="header-title mb-2">Select2</h4>
        <p class="text-muted fs-14 mb-0">Select2 gives you a customizable select box with support for searching,
          tagging, remote data sets, infinite scrolling, and many other highly used options.</p>
      </div>


      <div class="card-body">

        <div class="row g-3">
          <div class="col-lg-6">
            <p class="mb-1 fw-bold text-muted">Single Select</p>
            <p class="text-muted fs-14">
              Select2 can take a regular select box like this...
            </p>

            <select2 [data]="items" resettable="false"/>
          </div>

          <div class="col-lg-6">
            <p class="mb-1 fw-bold text-muted">Multiple Select</p>
            <p class="text-muted fs-14">
              Select2 can take a regular select box like this...
            </p>

            <select2
            class="select2 select2-multiple"
            [multiple]="true"
            [data]="items"
            id="selec2-1"
          />
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-bottom border-dashed">
        <h4 class="card-title mb-0">Choices</h4>
      </div>

      <div class="card-body">
        <div>
          <h5 class="fs-14 mb-2">Single select input Example</h5>

          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="mb-3">
                <label for="choices-single-default" class="form-label text-muted">Default</label>
                <p class="text-muted">Set <code>data-choices</code> attribute to set a default single select.</p>
                <select selectFormInput class="form-control" data-choices name="choices-single-default" id="choices-single-default">
                  <option value="">This is a placeholder</option>
                  <option value="Choice 1">Choice 1</option>
                  <option value="Choice 2">Choice 2</option>
                  <option value="Choice 3">Choice 3</option>
                </select>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="mb-3">
                <label for="choices-single-groups" class="form-label text-muted">Option Groups</label>
                <p class="text-muted">Set <code>data-choices data-choices-groups</code> attribute to set option group
                </p>
                <select selectFormInput class="form-control" id="choices-single-groups" data-choices data-choices-groups
                  data-placeholder="Select City" name="choices-single-groups">
                  <option value="">Choose a city</option>
                  <optgroup label="UK">
                    <option value="London">London</option>
                    <option value="Manchester">Manchester</option>
                    <option value="Liverpool">Liverpool</option>
                  </optgroup>
                  <optgroup label="FR">
                    <option value="Paris">Paris</option>
                    <option value="Lyon">Lyon</option>
                    <option value="Marseille">Marseille</option>
                  </optgroup>
                  <optgroup label="DE" disabled>
                    <option value="Hamburg">Hamburg</option>
                    <option value="Munich">Munich</option>
                    <option value="Berlin">Berlin</option>
                  </optgroup>
                  <optgroup label="US">
                    <option value="New York">New York</option>
                    <option value="Washington" disabled>Washington</option>
                    <option value="Michigan">Michigan</option>
                  </optgroup>
                  <optgroup label="SP">
                    <option value="Madrid">Madrid</option>
                    <option value="Barcelona">Barcelona</option>
                    <option value="Malaga">Malaga</option>
                  </optgroup>
                  <optgroup label="CA">
                    <option value="Montreal">Montreal</option>
                    <option value="Toronto">Toronto</option>
                    <option value="Vancouver">Vancouver</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="mb-3">
                <label for="choices-single-no-search" class="form-label text-muted">Options added via config with no
                  search</label>
                <p class="text-muted">Set <code>data-choices data-choices-search-false data-choices-removeItem</code>
                </p>
                <select selectFormInput [options]="{searchEnabled:false}" class="form-control" id="choices-single-no-search" name="choices-single-no-search" data-choices
                  data-choices-search-false data-choices-removeItem>
                  <option value="Zero">Zero</option>
                  <option value="One">One</option>
                  <option value="Two">Two</option>
                  <option value="Three">Three</option>
                  <option value="Four">Four</option>
                  <option value="Five">Five</option>
                  <option value="Six">Six</option>
                </select>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="mb-3">
                <label for="choices-single-no-sorting" class="form-label text-muted">Options added via config with no
                  sorting</label>
                <p class="text-muted">Set <code>data-choices data-choices-sorting-false</code> attribute.</p>
                <select selectFormInput [options]="{shouldSort:false}" class="form-control" id="choices-single-no-sorting" name="choices-single-no-sorting"
                  data-choices data-choices-sorting-false>
                  <option value="Madrid">Madrid</option>
                  <option value="Toronto">Toronto</option>
                  <option value="Vancouver">Vancouver</option>
                  <option value="London">London</option>
                  <option value="Manchester">Manchester</option>
                  <option value="Liverpool">Liverpool</option>
                  <option value="Paris">Paris</option>
                  <option value="Malaga">Malaga</option>
                  <option value="Washington" disabled>Washington</option>
                  <option value="Lyon">Lyon</option>
                  <option value="Marseille">Marseille</option>
                  <option value="Hamburg">Hamburg</option>
                  <option value="Munich">Munich</option>
                  <option value="Barcelona">Barcelona</option>
                  <option value="Berlin">Berlin</option>
                  <option value="Montreal">Montreal</option>
                  <option value="New York">New York</option>
                  <option value="Michigan">Michigan</option>
                </select>
              </div>
            </div>
          </div>

        </div>


        <div class="mt-4">
          <h5 class="fs-14 mb-3">Multiple select input</h5>

          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="mb-3">
                <label for="choices-multiple-default" class="form-label text-muted">Default</label>
                <p class="text-muted">Set <code>data-choices multiple</code> attribute.</p>
                <select selectFormInput [options]="{allowHTML:true}" class="form-control" id="choices-multiple-default" data-choices name="choices-multiple-default"
                  multiple>
                  <option value="Choice 1" selected>Choice 1</option>
                  <option value="Choice 2">Choice 2</option>
                  <option value="Choice 3">Choice 3</option>
                  <option value="Choice 4" disabled>Choice 4</option>
                </select>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="mb-3">
                <label for="choices-multiple-remove-button" class="form-label text-muted">With remove button</label>
                <p class="text-muted">Set <code>data-choices data-choices-removeItem multiple</code> attribute.</p>
                <select selectFormInput [options]="{allowHTML:true,removeItemButton:true}" class="form-control" id="choices-multiple-remove-button" 
                  name="choices-multiple-remove-button" multiple>
                  <option value="Choice 1" selected>Choice 1</option>
                  <option value="Choice 2">Choice 2</option>
                  <option value="Choice 3">Choice 3</option>
                  <option value="Choice 4">Choice 4</option>
                </select>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="mb-3">
                <label for="choices-multiple-groups" class="form-label text-muted">Option groups</label>
                <p class="text-muted">Set <code>data-choices data-choices-multiple-groups="true" multiple</code>
                  attribute. </p>
                <select selectFormInput [options]="{allowHTML:true}" class="form-control" id="choices-multiple-groups" name="choices-multiple-groups" data-choices
                 multiple>
                  <option value="">Choose a city</option>
                  <optgroup label="UK">
                    <option value="London">London</option>
                    <option value="Manchester">Manchester</option>
                    <option value="Liverpool">Liverpool</option>
                  </optgroup>
                  <optgroup label="FR">
                    <option value="Paris">Paris</option>
                    <option value="Lyon">Lyon</option>
                    <option value="Marseille">Marseille</option>
                  </optgroup>
                  <optgroup label="DE" disabled>
                    <option value="Hamburg">Hamburg</option>
                    <option value="Munich">Munich</option>
                    <option value="Berlin">Berlin</option>
                  </optgroup>
                  <optgroup label="US">
                    <option value="New York">New York</option>
                    <option value="Washington" disabled>Washington</option>
                    <option value="Michigan">Michigan</option>
                  </optgroup>
                  <optgroup label="SP">
                    <option value="Madrid">Madrid</option>
                    <option value="Barcelona">Barcelona</option>
                    <option value="Malaga">Malaga</option>
                  </optgroup>
                  <optgroup label="CA">
                    <option value="Montreal">Montreal</option>
                    <option value="Toronto">Toronto</option>
                    <option value="Vancouver">Vancouver</option>
                  </optgroup>
                </select>
              </div>
            </div>

          </div>

        </div>


        <div class="mt-4">
          <h5 class="fs-14 mb-3">Text inputs</h5>

          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="mb-3">
                <label for="choices-text-remove-button" class="form-label text-muted">Set limit values with remove
                  button</label>
                <p class="text-muted">Set
                  <code>data-choices data-choices-limit="Required Limit" data-choices-removeItem</code> attribute.
                </p>
                <input selectFormInput [options]="{allowHTML:true,maxItemCount:3}" class="form-control" id="choices-text-remove-button" data-choices data-choices-limit="3"
                  data-choices-removeItem type="text" value="Task-1" />
              </div>
            </div>


            <div class="col-lg-4 col-md-6">
              <div class="mb-3">
                <label for="choices-text-unique-values" class="form-label text-muted">Unique values only, no
                  pasting</label>
                <p class="text-muted">Set <code>data-choices data-choices-text-unique-true</code> attribute.</p>
                <input selectFormInput [options]="{allowHTML:true,uniqueItemText:''}" class="form-control" id="choices-text-unique-values" data-choices data-choices-text-unique-true
                  type="text" value="Project-A, Project-B" />
              </div>
            </div>

          </div>


          <div>
            <label for="choices-text-disabled" class="form-label text-muted">Disabled</label>
            <p class="text-muted">Set <code>data-choices data-choices-text-disabled-true</code> attribute.</p>
            <input selectFormInput disabled class="form-control" id="choices-text-disabled" data-choices data-choices-text-disabled-true
              type="text" value="josh@joshuajohnson.co.uk, joe@bloggs.co.uk" />
          </div>
        </div>
      </div>
    </div>
  </div>

</div>