<div class="mx-auto text-center">
  <h3 class="fw-semibold mb-2">Oooh No ! </h3>
  <img src="assets/images/error/error-408.png" alt="error 408 img" height="230">
  <h3 class="fw-bold mt-3 text-primary lh-base">Error 408 Request Time Out</h3>
  <h5 class="fw-bold mt-2 text-dark lh-base">The Server Timed Out Waiting For The Client's Request.</h5>
  <p class="text-muted fs-12 mb-3">The server did not receive a complete request message within the time that it was prepared to wait.</p>
  <a routerLink="/" class="btn btn-primary mb-3">Back To Home <i class="ti ti-home ms-1"></i></a>
</div>
