<div class="card">
  <div class="card-header border-bottom border-dashed">
    <h4 class="card-title mb-0">Skills</h4>
  </div>
  <div class="card-body">
    <apx-chart
    [chart]="skillsChartOpts.chart!"
    [plotOptions]="skillsChartOpts.plotOptions!"
    [stroke]="skillsChartOpts.stroke!"
    [legend]="skillsChartOpts.legend!"
    [colors]="skillsChartOpts.colors!"
    [series]="skillsChartOpts.series!"
    [labels]="skillsChartOpts.labels!"
    [responsive]="skillsChartOpts.responsive!"
    [responsive]="skillsChartOpts.responsive!"
    />
  </div>
</div>