<page-title subtitle="Icons" title="Solar Icons"/>
<div class="d-flex flex-wrap gap-3 justify-content-center icon-box">
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="4k">
      <iconify-icon icon="solar:4k-bold" class="fs-2"></iconify-icon>
    </div>
  </div>

  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Accessibility">
      <iconify-icon icon="solar:accessibility-bold-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Accumulator">
      <iconify-icon icon="solar:accumulator-broken" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Add Circle">
      <iconify-icon icon="solar:add-circle-line-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Archive">
      <iconify-icon icon="solar:archive-bold-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Armchair">
      <iconify-icon icon="solar:armchair-2-bold-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Asteroid">
      <iconify-icon icon="solar:asteroid-bold" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Atom">
      <iconify-icon icon="solar:atom-bold-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Backpack">
      <iconify-icon icon="solar:backpack-broken" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Backspace">
      <iconify-icon icon="solar:backspace-line-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bacteria">
      <iconify-icon icon="solar:bacteria-linear" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bag 2">
      <iconify-icon icon="solar:bag-2-bold" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Balloon">
      <iconify-icon icon="solar:balloon-broken" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Balls">
      <iconify-icon icon="solar:balls-line-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Banknote">
      <iconify-icon icon="solar:banknote-linear" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bar Chair">
      <iconify-icon icon="solar:bar-chair-linear" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Basketball">
      <iconify-icon icon="solar:basketball-bold-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bath">
      <iconify-icon icon="solar:bath-broken" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bed">
      <iconify-icon icon="solar:bed-linear" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bell Bing">
      <iconify-icon icon="solar:bell-bing-bold" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bill">
      <iconify-icon icon="solar:bill-broken" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bill Check">
      <iconify-icon icon="solar:bill-check-line-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bolt">
      <iconify-icon icon="solar:bolt-linear" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bomb">
      <iconify-icon icon="solar:bomb-bold" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Book 2">
      <iconify-icon icon="solar:book-2-bold-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bookmark">
      <iconify-icon icon="solar:bookmark-broken" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Boombox">
      <iconify-icon icon="solar:boombox-line-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bottle">
      <iconify-icon icon="solar:bottle-outline" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bowling">
      <iconify-icon icon="solar:bowling-bold" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Box">
      <iconify-icon icon="solar:box-bold-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Broom">
      <iconify-icon icon="solar:broom-broken" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bug">
      <iconify-icon icon="solar:bug-line-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Bus">
      <iconify-icon icon="solar:bus-linear" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Calculator">
      <iconify-icon icon="solar:calculator-bold" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Camera">
      <iconify-icon icon="solar:camera-bold-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Card">
      <iconify-icon icon="solar:card-broken" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Cardholder">
      <iconify-icon icon="solar:cardholder-linear" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Cart 2">
      <iconify-icon icon="solar:cart-2-bold" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Case">
      <iconify-icon icon="solar:case-bold-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Cassette">
      <iconify-icon icon="solar:cassette-2-broken" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Cat">
      <iconify-icon icon="solar:cat-line-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Chair 2">
      <iconify-icon icon="solar:chair-2-linear" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Chart 2">
      <iconify-icon icon="solar:chart-2-bold" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Chat Dots">
      <iconify-icon icon="solar:chat-dots-bold-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Checklist">
      <iconify-icon icon="solar:checklist-broken" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="City">
      <iconify-icon icon="solar:city-linear" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Cloud">
      <iconify-icon icon="solar:cloud-bold" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Code File">
      <iconify-icon icon="solar:code-file-bold-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Command">
      <iconify-icon icon="solar:command-broken" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Compass">
      <iconify-icon icon="solar:compass-line-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Condicioner">
      <iconify-icon icon="solar:condicioner-2-linear" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Confetti">
      <iconify-icon icon="solar:confetti-bold" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Copyright">
      <iconify-icon icon="solar:copyright-bold-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Corkscrew">
      <iconify-icon icon="solar:corkscrew-broken" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Cosmetic">
      <iconify-icon icon="solar:cosmetic-line-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Course Up">
      <iconify-icon icon="solar:course-up-linear" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="CPU">
      <iconify-icon icon="solar:cpu-bold" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Crop">
      <iconify-icon icon="solar:crop-bold-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Crown">
      <iconify-icon icon="solar:crown-line-broken" class="fs-2"></iconify-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" 
      placement="top" ngbTooltip="Cup First">
      <iconify-icon icon="solar:cup-first-line-duotone" class="fs-2"></iconify-icon>
    </div>
  </div>
</div>

<div class="my-3 text-center">
  <a href="https://icon-sets.iconify.design/solar/" target="_blank" class="btn btn-danger">View All Icons</a>
</div>