<page-title subtitle="Invoice" title="Invoices" />
<invoice-stats />

<div class="d-flex flex-wrap flex-lg-nowrap align-items-center gap-2 mb-3">
  <div class="d-inline-flex align-items-center gap-2 me-auto">
    <h5 class="mb-0 fs-14 text-muted">Last Updated a minute ago</h5>
    <a href="javascript: void(0);"><i class="ti ti-refresh align-middle fs-16"></i></a>
  </div>

  <div class="d-inline-flex flex-wrap align-items-center gap-1">
    <a href="javascript: void(0);"><img src="assets/images/cards/mastercard.svg" alt="master card img" height="24"></a>
    <a href="javascript: void(0);"><img src="assets/images/cards/visa.svg" alt="vis card img" height="24"></a>
    <p class="mb-0">Invoice get paid 3x faster with online payments, <a href="javascript: void(0);" class="fw-medium">Turn On Payments</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header border-bottom card-tabs d-flex flex-wrap align-items-center gap-2">
        <div class="flex-grow-1">
          <h4 class="header-title">Invoices</h4>
        </div>

        <div class="d-flex flex-wrap flex-lg-nowrap gap-2">
          <div class="flex-shrink-0 d-flex align-items-center gap-2">
            <div class="position-relative">
              <input type="text" class="form-control ps-4" placeholder="Search Here...">
              <i class="ti ti-search position-absolute top-50 translate-middle-y start-0 ms-2"></i>
            </div>
          </div>
          <a routerLink="/invoice/create" class="btn btn-primary"><i class="ti ti-plus me-1"></i>Add Invoice</a>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover text-nowrap mb-0">
          <thead class="bg-light-subtle">
            <tr>
              <th class="ps-3" style="width: 50px;">
                <input type="checkbox" class="form-check-input" id="customCheck1">
              </th>
              <th>Invoice ID</th>
              <th>Category </th>
              <th>Created On</th>
              <th>Invoice To</th>
              <th>Amount</th>
              <th>Due Date</th>
              <th>Status</th>
              <th class="text-center" style="width: 120px;">Action</th>
            </tr>
          </thead>

          <tbody>
            @for (invoice of invoices; track $index) {
            <tr>
              <td class="ps-3">
                <input type="checkbox" class="form-check-input" id="customCheck2">
              </td>
              <td><span class="text-muted fw-semibold">{{invoice.id}}</span></td>
              <td>{{invoice.category}}</td>
              <td><span class="fs-15 text-muted">{{invoice.date | date:"dd MMM YYYY"}}</span></td>
              <td>
                <div class="d-flex align-items-center gap-2">
                  <div class="avatar-sm">
                    <img [src]="invoice.avatar" alt="" class="img-fluid rounded-circle">
                  </div>
                  <h6 class="fs-14 mb-0">{{invoice.name}}</h6>
                </div>
              </td>
              <td>{{currency}}{{invoice.amount}}</td>
              <td><span class="fs-15 text-muted">{{invoice.dueDate | date:"dd MMM YYYY"}}</span></td>
              <td>
                <span class="badge {{invoice.status==='Cancelled' ? 'bg-danger-subtle text-danger' : invoice.status==='Pending' ? 'bg-warning-subtle text-warning': 'bg-success-subtle text-success'}} fs-12 p-1">{{invoice.status}}</span>
              </td>
              <td class="pe-3">
                <div class="hstack gap-1 justify-content-end">
                  <a href="javascript:void(0);" class="btn btn-soft-primary btn-icon btn-sm rounded-circle"> <i
                      class="ti ti-eye"></i></a>
                  <a href="javascript:void(0);" class="btn btn-soft-success btn-icon btn-sm rounded-circle"> <i
                      class="ti ti-edit fs-16"></i></a>
                  <a href="javascript:void(0);" class="btn btn-soft-danger btn-icon btn-sm rounded-circle"> <i
                      class="ti ti-trash"></i></a>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="card-footer">
        <div class="d-flex justify-content-end">
          <ul class="pagination mb-0 justify-content-center">
            <ngb-pagination [collectionSize]="30" [page]="3" />
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>