<div class="d-flex align-items-center justify-content-center my-3">
    <ul class="nav nav-tabs border-0 button-nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/patient/my-documents/labs" routerLinkActive="active">Labs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/patient/my-documents/imaging" routerLinkActive="active">Imaging</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/patient/my-documents/pathology" routerLinkActive="active">Pathology</a>
        </li>
    </ul>
</div>

<div class=" px-2">
    <router-outlet></router-outlet>
</div>