<page-title title="Doctor Profile" subtitle="Hospital" />

<div class="row">
  <div class="col-xl-4 col-lg-12">
    <profile-card />
    <appointment />
  </div>

  <div class="col-xl-8 col-lg-12">
    <personal-information />
    <div class="row">
      <div class="col-lg-6">
        <skill-chart />
      </div>
      <div class="col-lg-6">
        <specialty />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <appointment-list />
      </div>
    </div>
  </div>

</div>