<div class="card">
  <div class="card-body">
    <div class="dr-profile-bg rounded-top position-relative mx-n3 mt-n3 position-relative">
      <img src="assets/images/users/avatar-3.jpg" alt=""
        class="border border-light border-3 rounded-circle position-absolute top-100 start-50 translate-middle"
        height="100" width="100">
    </div>
    <div class="mt-4 mb-2 pt-3  text-center">
      <p class="mb-1 fs-18 fw-semibold text-dark">Dr. James Roger</p>
      <p class="mb-0 fw-medium text-muted">(MD , Cardiology)</p>
    </div>
    <h5 class="card-title fw-semibold">About Doctor :</h5>
    <p class="mt-2">Dr. James Roger has vast experience in treating cardiovascular diseases. He has presented papers
      at national and international levels. Currently, he is a Professor and Head at a Medical College specializing
      in Cardiology.</p>
    <div class="mt-3">
      <div class="row">

        <div class="col-lg-3 col-3">
          <h5>Operations</h5>
          <p class="fs-15 text-dark fw-semibold mb-0">1302</p>
        </div>


        <div class="col-lg-3 col-3">
          <h5>Hospital</h5>
          <p class="fs-15 text-dark fw-semibold mb-0">40</p>
        </div>


        <div class="col-lg-3 col-3">
          <h5>Patient</h5>
          <p class="fs-15 text-dark fw-semibold mb-0">3412</p>
        </div>


        <div class="col-lg-3 col-3">
          <h5>Experience</h5>
          <p class="fs-15 text-dark fw-semibold mb-0">14 Year</p>
        </div>
      </div>
    </div>
    <h5 class="card-title fw-semibold mt-4 mb-2">Doctor Level :</h5>
    <span class="badge bg-light text-dark my-1 px-2 py-1 rounded-pill fw-medium fs-12 me-1">General Cardiology</span>
    <span class="badge bg-light text-dark my-1 px-2 py-1 rounded-pill fw-medium fs-12 me-1">Echocardiology</span>
    <span class="badge bg-light text-dark my-1 px-2 py-1 rounded-pill fw-medium fs-12 me-1">Senior Doctor</span>
    <span class="badge bg-light text-dark my-1 px-2 py-1 rounded-pill fw-medium fs-12">CHO</span>
    <span class="badge bg-light text-dark mt-1 px-2 py-1 rounded-pill fw-medium fs-12">Adult Congenital
      Cardiology</span>
    <h5 class="card-title fw-semibold mt-4">Doctor Rating :</h5>
    <div class="flex-grow-1 d-inline-flex align-items-center fs-20 mt-1">
      <span class="ti ti-star-filled text-warning"></span>
      <span class="ti ti-star-filled text-warning"></span>
      <span class="ti ti-star-filled text-warning"></span>
      <span class="ti ti-star-filled text-warning"></span>
      <span class="ti ti-star-half text-warning"></span>
      <span class="ms-1 fs-14">4.6k Reviews </span>
    </div>

  </div>
  <div class="card-footer border-top gap-1 hstack">
    <a href="javascript: void(0);" class="btn btn-primary w-100">Send Message</a>
    <a href="javascript: void(0);" class="btn btn-light w-100">Follow</a>
    <a href="javascript: void(0);" class="btn btn-dark d-inline-flex align-items-center justify-content-center rounded avatar-md"><i
        class="ti ti-edit fs-20"></i></a>
  </div>
</div>