<page-title subtitle="Apex" title="Mixed Charts"/>
<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Line & Column Chart</h4>
        <div dir="ltr">
          <apx-chart
          [chart]="lineColumnMixedChart.chart!"
          [series]="lineColumnMixedChart.series!"
          [stroke]="lineColumnMixedChart.stroke!"
          [labels]="lineColumnMixedChart.labels!"
          [xaxis]="lineColumnMixedChart.xaxis!"
          [colors]="lineColumnMixedChart.colors!"
          [yaxis]="lineColumnMixedChart.yaxis!"
          [legend]="lineColumnMixedChart.legend!"
          [grid]="lineColumnMixedChart.grid!"
          />
        </div>
      </div>

    </div>

  </div>


  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Multiple Y-Axis Chart</h4>
        <div dir="ltr">
          <apx-chart
          [chart]="multipleChart.chart!"
          [series]="multipleChart.series!"
          [dataLabels]="multipleChart.dataLabels!"
          [stroke]="multipleChart.stroke!"
          [labels]="multipleChart.labels!"
          [xaxis]="multipleChart.xaxis!"
          [colors]="multipleChart.colors!"
          [yaxis]="multipleChart.yaxis!"
          [tooltip]="multipleChart.tooltip!"
          [legend]="multipleChart.legend!"
          [grid]="multipleChart.grid!"
          [responsive]="multipleChart.responsive!"
          />
        </div>
      </div>

    </div>

  </div>

</div>


<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Line & Area Chart</h4>
        <div dir="ltr">
          <apx-chart
          [chart]="lineAreaChart.chart!"
          [series]="lineAreaChart.series!"
          [fill]="lineAreaChart.fill!"
          [stroke]="lineAreaChart.stroke!"
          [labels]="lineAreaChart.labels!"
          [colors]="lineAreaChart.colors!"
          [yaxis]="lineAreaChart.yaxis!"
          [tooltip]="lineAreaChart.tooltip!"
          [legend]="lineAreaChart.legend!"
          [grid]="lineAreaChart.grid!"
          [responsive]="lineAreaChart.responsive!"
          />
        </div>
      </div>

    </div>

  </div>


  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Line, Column & Area Chart</h4>
        <div dir="ltr">
          <apx-chart
          [chart]="allMixedChart.chart!"
          [series]="allMixedChart.series!"
          [fill]="allMixedChart.fill!"
          [stroke]="allMixedChart.stroke!"
          [labels]="allMixedChart.labels!"
          [colors]="allMixedChart.colors!"
          [yaxis]="allMixedChart.yaxis!"
          [tooltip]="allMixedChart.tooltip!"
          [legend]="allMixedChart.legend!"
          [grid]="allMixedChart.grid!"
          [responsive]="allMixedChart.responsive!"
          />
        </div>
      </div>

    </div>

  </div>

</div>