
  <h3 class="fw-semibold mb-2">Reset Your Password</h3>

  <p class="text-muted mb-4">Please enter your email address to request a password reset.</p>

  <third-party-login />

  <p class="fs-13 fw-semibold">Or Sign Up With Email</p>

  <form class="text-start mb-3">
    <div class="mb-3">
      <label class="form-label" for="example-email">Email</label>
      <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Enter your email">
    </div>
    <div class="d-grid">
      <button class="btn btn-primary" type="button">Reset Password</button>
    </div>
  </form>

  <p class="text-danger fs-14 mb-4">Back To <a routerLink="/auth/login" class="fw-semibold text-dark ms-1">Login !</a>
  </p>