<div class="card">
  <div class="card-header border-bottom">
    <h5 class="card-title mb-0">Timeline</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-borderless mb-0">
        <tbody>
          <tr>
            <td class="px-0">
              <p class="mb-1 fs-14 fw-medium">4 July (Now)</p>
              <p class="mb-0 fs-14 fw-medium">06:00</p>
            </td>
            <td class="fs-14 fw-medium">
              <p class="mb-1 fs-14 fw-medium">Your package is packed by the courier</p>
              <p class="mb-0 fs-14 fw-medium text-muted">613 Kuhl Avenue Jennifer Lane</p>
            </td>
          </tr>
          <tr>
            <td class="px-0">
              <p class="mb-1 fs-14 fw-medium text-muted">2 July</p>
              <p class="mb-0 fs-14 fw-medium text-muted">10:00</p>
            </td>
            <td>
              <p class="mb-1 fs-14 fw-medium text-muted">Shipment has been created</p>
              <p class="mb-0 fs-14 fw-medium text-muted">613 Kuhl Avenue</p>
            </td>
          </tr>
          <tr>
            <td class="px-0">
              <p class="mb-1 fs-14 fw-medium text-muted">2 July</p>
              <p class="mb-0 fs-14 fw-medium text-muted">04:00</p>
            </td>
            <td>
              <p class="mb-1 fs-14 fw-medium text-muted">Order Placed</p>
              <p class="mb-0 fs-14 fw-medium text-muted">Coderthemes <iconify-icon icon="solar:verified-check-bold"
                  class="align-middle text-success"></iconify-icon></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
