<div>
  <h3 class="fw-semibold mb-2">Ooops ! </h3>
  <p class="text-muted">something exciting is coming your way soon</p>
</div>

<div class="mx-auto text-center">
  <img src="assets/images/error/error-400.png" alt="error 400 img" height="230">

  <h2 class="fw-bold mt-3 text-primary lh-base">Bed Request ! </h2>
  <h4 class="fw-bold mt-2 text-dark lh-base">Your Browser Sent An Invalid Request</h4>
  <p class="text-muted fs-12 mb-3">The server could not understand the request due to invalid syntax. Please check your
    input and try again.</p>
  <a routerLink="/" class="btn btn-primary mb-3">Back To Home <i class="ti ti-home ms-1"></i></a>
</div>