 /* You can add global styles to this file, and also import other style files */
 // @import "../public/assets/scss/app.scss";
 // @import "../public/assets/scss/icons.scss";
 @use '../public/assets/scss/icons.scss' as *;
 @use '../public/assets/scss/app.scss' as *;
 @import "../node_modules/leaflet/dist/leaflet.css";
 @import "flatpickr/dist/flatpickr.css";
 @import "nouislider/dist/nouislider.css";
 @import "quill/dist/quill.snow.css";
 @import "quill/dist/quill.bubble.css";

 //Overall project font-family

 .clr-9BA6B7 {
     color: #9BA6B7;
 }

 /* --------------------------
Custom SCSS start from here
-----------------------------*/
 .nav-tabs {
     .nav-item {
         .nav-link {
             border: 0;
             border-bottom: 1px solid transparent;
             font-size: 14px;
             padding: 8px 16px;
             color: #444;

             &.active {
                 color: #246bce;
                 border-bottom: 1px solid #246bce;
             }
         }
     }
 }

 .nav-tabs {
     &.button-nav-tabs {
         background-color: #dfefff;
         padding: 5px;
         border-radius: 7px;

         .nav-item {
             .nav-link {
                 border: 0;
                 font-size: 14px;
                 color: #246bce;
                 padding: 6px 16px;

                 &.active {
                     background-color: #246bce;
                     border-radius: 7px;
                     color: #fff;
                 }
             }
         }
     }
 }

 .badge { 
     border-radius: 5px;
     padding: 8px 6px;
     &.badge-blue-dark{
        color: #0369A1;
        background-color: #E0F2FE;
     } 
      &.badge-blue-light{
        color: #3C4FD9;
        background-color: #E3E7FF;
     } 
     &.badge-yellow-light {
         color: #92400E;
         background-color: #FEF3C7;
     }
     &.badge-red-light {
         color: #E94235;
         background-color: #FFE9E3;
     }
 }