/* You can add global styles to this file, and also import other style files */
// @import "../public/assets/scss/app.scss";
// @import "../public/assets/scss/icons.scss";
@use '../public/assets/scss/icons.scss' as *;
@use '../public/assets/scss/app.scss' as *;
@import "../node_modules/leaflet/dist/leaflet.css";
@import "flatpickr/dist/flatpickr.css";
@import "nouislider/dist/nouislider.css";
@import "quill/dist/quill.snow.css";
@import "quill/dist/quill.bubble.css";


/* --------------------------
Custom SCSS start from here
-----------------------------*/
.nav-tabs{
    .nav-item{
        .nav-link{
            border: 0;
            border-bottom: 1px solid transparent;
            font-size: 14px; 
            padding: 8px 16px;
            &.active{  
                color: #246bce;
                border-bottom: 1px solid #246bce;
            }
        }
    }
}
.nav-tabs{
    &.button-nav-tabs{
        background-color: #dfefff;
        padding: 5px;
        border-radius: 7px;
        .nav-item{
            .nav-link{
                border: 0;
                font-size: 14px;
                color: #246bce;
                padding: 6px 16px;
                &.active{
                    background-color: #246bce;
                    border-radius: 7px;
                    color: #fff;
                }
            }
        }
    } 
}