

  <h3 class="fw-semibold mb-2">Check Your Email Address</h3>

  <p class="text-muted mb-4">Please enter the 6-digit code sent to abc&#64;xyz.com to proceed </p>

  <third-party-login />

  <p class="fs-13 fw-semibold">Or Login With Email</p>

  <form  class="text-start mb-3">
    <div class="mb-3">
      <label class="form-label" for="email-code">Enter 6 Digit Code</label>
      <input type="number" id="email-code" name="email-code" class="form-control" placeholder="CODE">
    </div>

    <div class="mb-3 d-grid">
      <button class="btn btn-primary" type="button">Continue</button>
    </div>
    <p class="mb-0 text-center">Don't received code yet? <a href="javascript: void(0);"
        class="link-primary fw-semibold text-decoration-underline">Send Again</a></p>
  </form>

  <p class="text-danger fs-14 mb-4">Back To <a routerLink="/" class="fw-semibold text-dark ms-1">Home !</a></p>
