<div class="card card-h-100">
  <div class="card-header d-flex flex-wrap align-items-center gap-2 border-bottom border-dashed">
    <h4 class="header-title me-auto">Top Selling Products</h4>

    <div class="d-flex gap-2 justify-content-end text-end">
      <a href="javascript:void(0);" class="btn btn-sm btn-light">Import <i class="ti ti-download ms-1"></i></a>
      <a href="javascript:void(0);" class="btn btn-sm btn-primary">Export <i
          class="ti ti-file-export ms-1"></i></a>
    </div>
  </div>

  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-custom align-middle table-nowrap table-hover mb-0">
        <tbody>
          @for (item of sellingProducts; track $index) {
            <tr>
              <td>
                <div class="avatar-lg">
                  <img [src]="item.image" alt="Product-1" class="img-fluid rounded-2">
                </div>
              </td>
              <td class="ps-0">
                <h5 class="fs-14 my-1"><a routerLink="/apps/ecommerce/products/details" class="link-reset">{{item.name}}</a></h5>
                <span class="text-muted fs-12">{{ item.date | date:'dd MMMM YYYY'}}</span>
              </td>
              <td>
                <h5 class="fs-14 my-1">{{currency}} {{item.price}}</h5>
                <span class="text-muted fs-12">Price</span>
              </td>
              <td>
                <h5 class="fs-14 my-1">{{item.quantity}}</h5>
                <span class="text-muted fs-12">Quantity</span>
              </td>
              <td>
                <div class="d-flex align-items-center justify-content-end">
                  <div class="me-2">
                    <h5 class="fs-14 my-1">{{currency}} {{item.amount}}</h5>
                    <span class="text-muted fs-12">Amount</span>
                  </div>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-footer">
    <div class="align-items-center justify-content-between row text-center text-sm-start">
      <div class="col-sm">
        <div class="text-muted">
          Showing <span class="fw-semibold">5</span> of <span class="fw-semibold">10</span> Results
        </div>
      </div>
      <div class="col-sm-auto mt-3 mt-sm-0">
        <ul class="pagination pagination-boxed pagination-sm mb-0 justify-content-center">
          <li class="page-item disabled">
            <a href="javascript: void(0);" class="page-link"><i class="ti ti-chevron-left"></i></a>
          </li>
          <li class="page-item active">
            <a href="javascript: void(0);" class="page-link">1</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">2</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link"><i class="ti ti-chevron-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
