<div class="card bg-primary">
  <div class="card-body"
    style="background-image: url(assets/images/png/arrows.svg); background-size: contain; background-repeat: no-repeat; background-position: right bottom;">
    <h1><i class="ti ti-receipt-tax text-white"></i></h1>
    <h4 class="text-white">Estimated tax for this year</h4>
    <p class="text-white text-opacity-75">We kindly encourage you to review your recent transactions</p>
    <a href="javascript: void(0);" class="btn btn-sm rounded-pill btn-info">Activate Now</a>
  </div>
</div>