<div class="row">
  <div class="col-xl-3 col-lg-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <div class="avatar-lg bg-light d-flex align-items-center justify-content-center rounded">
            <iconify-icon icon="solar:delivery-bold-duotone" class="fs-32 text-primary"></iconify-icon>
          </div>
          <a href="javascript: void(0);" class="btn btn-primary btn-sm">Track Order</a>
        </div>
        <div class="d-flex flex-wrap align-items-center justify-content-between mt-5 pt-1">
          <div>
            <p class="fs-15 fw-medium mb-0 text-muted mb-1">Estimated Arrival</p>
            <p class="text-dark fw-semibold mb-0 fs-16">9 July 2024</p>
          </div>
          <div>
            <p class="fs-15 fw-medium mb-0 text-muted mb-1">Tracker ID</p>
            <p class="text-dark fw-semibold mb-0 fs-16">#TR73647</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
          <div class="avatar-lg bg-light d-flex align-items-center justify-content-center rounded  flex-shrink-0">
            <img src="assets/images/cards/mastercard.svg" alt="Card Img" class="img-fluid">
          </div>
          <div>
            <p class="text-dark fw-medium fs-16 mb-1">Master Card</p>
            <p class="mb-0">**** **** **** 3541 </p>
          </div>
          <div class="ms-auto">
            <span
              class="badge bg-success-subtle rounded-pill text-success border border-success fs-11 py-1 px-2  my-2">Paid</span>
          </div>
        </div>
        <div class="d-flex flex-wrap align-items-center justify-content-between mt-5 pt-1">
          <div>
            <p class="fs-15 fw-medium mb-0 text-muted mb-1">Transaction ID</p>
            <p class="text-dark fw-semibold mb-0 fs-16">TR626788-MR</p>
          </div>
          <div>
            <p class="fs-15 fw-medium mb-0 text-muted mb-1">Payment Method</p>
            <p class="text-dark fw-semibold mb-0 fs-16">Master Card</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="avatar-lg bg-light d-flex align-items-center justify-content-center rounded">
          <iconify-icon icon="solar:scooter-bold-duotone" class="fs-32 text-primary"></iconify-icon>
        </div>
        <p class="my-3 text-dark fs-20 text-dark fw-medium">Be patient, package on deliver!</p>
        <div class="d-flex flex-wrap align-items-center mt-3 mb-2 justify-content-between gap-2">
          <div>
            <span
              class="badge bg-light-subtle rounded-pill text-dark border fs-13 fw-medium py-1 px-2 d-flex align-items-center gap-1"><i
                class="ti ti-plane-tilt text-warning"></i> 613 Kuhl Avenue</span>
          </div>
          <i class="ti ti-arrow-narrow-right fs-18 text-muted"></i>
          <div>
            <span
              class="badge bg-light-subtle rounded-pill text-dark border fs-13 fw-medium py-1 px-2 d-flex align-items-center gap-1"><iconify-icon
                icon="solar:map-point-bold-duotone" class="fs-18 text-warning"></iconify-icon> 1890 Uitsig St Grahamstad
              USA</span>
          </div>
        </div>
        <ngb-progressbar [animated]="true" type="warning" [value]="90" [striped]="true" style="height: 10px" class="rounded"/> 
    </div>
  </div>
</div>

</div>